---
interface Props {
    iconPath: string,
    label: string,
    sectionToScroll: string
}

const {iconPath, label, sectionToScroll} = Astro.props;

import "../styles/nav_rail_item.css"
---

<div :class=`selectedSection === '${sectionToScroll}' ? 'nav_item_container_selected' : 'nav_item_container'` x-on:click=`scrollToSection('${sectionToScroll}')`>
    <div :class=`selectedSection === '${sectionToScroll}' ? 'nav_selection_indicator_selected' : 'nav_selection_indicator'`> 
        <img src={iconPath} class="item_icon"/>
    </div>
    <p class="item_label">{label}</p>
</div>