---
import "../styles/skills.css"
import SkillsContainer from "./SkillsContainer.astro"
import SkillsData from "../data/Skills.json"
import SkillsAndroidLibs from "./SkillsAndroidLibs.astro"
import SectionHeader from "./SectionHeader.astro"
---

<section class="skills_section" id="skills_section_id">
    <SectionHeader icon_path="/images/ic_skills_s.svg" title="Skills"/>

    <SkillsContainer sectionIcon="/images/ic_languajes.svg" sectionTitle="Programming Languages" skills={SkillsData.languages}/>
    <SkillsContainer sectionIcon="/images/ic_frameworks.svg" sectionTitle="Frameworks" skills={SkillsData.frameworks}/>
    <SkillsContainer sectionIcon="/images/ic_databases.svg" sectionTitle="Databases" skills={SkillsData.databases}/>
    <SkillsContainer sectionIcon="/images/ic_dev_tools.svg" sectionTitle="Development Tools" skills={SkillsData.dev_tools}/>
    <SkillsContainer sectionIcon="/images/ic_ides.svg" sectionTitle="Integrated Development Environments (IDEs)" skills={SkillsData.ides}/>
    <SkillsContainer sectionIcon="/images/ic_design_tools.svg" sectionTitle="Design Tools" skills={SkillsData.design_tools}/>

    <SkillsAndroidLibs skills={SkillsData.android_libraries}/>

</section>